@model List<MovieExplorer.Domain.Entities.Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="container mt-4">
    
    <h1 class="mb-1">Movies</h1>

    <p class="text-muted mb-4">
        @Model.Count movies found
    </p>

    <div class="row g-4">

        @foreach (var movie in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">

                <a asp-controller="Movies"
                   asp-action="Details"
                   asp-route-movieId="@movie.Id"
                   class="text-decoration-none text-dark">

                    <div class="card h-100 shadow-sm">

                        <img src="@movie.PosterUrl"
                             class="card-img-top"
                             alt="@movie.Title"/>

                        <div class="card-body shadow-sm" style="cursor:pointer;">

                            <h5 class="card-title">
                                @movie.Title
                            </h5>

                            <p class="card-text text-muted">
                                @movie.ReleaseYear
                            </p>

                        </div>

                    </div>

                </a>

            </div>
        }

    </div>

</div>