@model MovieExplorer.Web.ViewModels.MovieDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="movie-hero" style="background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.85)), url('@Model.BackdropUrl');">

    <div class="container">

        <div class="row align-items-end hero-content">

            <div class="col-md-4 col-lg-3">

                <img src="@Model.PosterUrl"
                     class="img-fluid shadow-lg movie-poster"
                     alt="@Model.Title" />

            </div>

            <div class="col-md-8 col-lg-9 text-white">

                <h1 class="display-3 fw-bold mb-3">
                    @Model.Title
                </h1>

                <p class="fs-5 text-light">
                    @Model.ReleaseYear
                </p>

                <div class="mb-4">

                    @foreach (var genre in Model.Genres)
                    {
                        <span class="badge text-bg-danger me-2 mb-2">
                            @genre
                        </span>
                    }

                </div>

            </div>

        </div>

    </div>

</div>

<div class="container py-5">

    <div class="row">

        <div class="col-lg-9">

            <h3>Overview</h3>

            <p class="lead movie-overview">
                @Model.Overview
            </p>

        </div>

        <div class="col-lg-3">

            <div class="card shadow-sm">

                <div class="card-body">

                    <h5>Your Collection</h5>

                    <p class="text-muted">
                        Save this movie to your wishlist.
                    </p>
                    <form asp-controller="Wishlist"
                          asp-action="Add"
                          method="post">
                        <input asp-for="MovieId" type="hidden"/>
                        <input asp-for="Title" type="hidden"/>
                        <input asp-for="PosterUrl" type="hidden"/>
                        <input asp-for="ReleaseYear" type="hidden"/>
                        
                        <button type="submit" class="btn btn-primary btn-lg">
                        Add to Wishlist
                    </button>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>